<html>

<head>
    <script src="https://unpkg.com/htmx.org@2.0.3"
        integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
        crossorigin="anonymous"></script>
    <link href="./styles.css" rel="stylesheet" />
    <script type="module"
        src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.18.0/cdn/shoelace-autoloader.js"></script>
    <link rel="stylesheet" media="(prefers-color-scheme:light)"
        href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.18.0/cdn/themes/light.css" />
    <link rel="stylesheet" media="(prefers-color-scheme:dark)"
        href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.18.0/cdn/themes/dark.css"
        onload="document.documentElement.classList.add('sl-theme-dark');" />
</head>

<body>
    <div style="width: max-content; display: flex; flex-direction: column; gap: 1rem;">
        <sl-card>
            <h1>Queue:</h1>

            {{ range . }}
            <p>{{ .ID }} &nbsp {{ .Title }}</p>
            <p> &nbsp {{ .FileName }}</p>
            {{ end }}

            <sl-button hx-post="/stop" hx-swap="none" size="large">stop</sl-button>
            <sl-button hx-post="/toggle-pause" hx-swap="none" size="large">toggle pause</sl-button>
        </sl-card>

        <sl-card>
            <h1>Playlist Controls:</h1>
            <form>
                <sl-input name="query" placeholder="song name here"></sl-input>
                <sl-button hx-post="/add" hx-swap="none" size="large">Add</sl-button>
            </form>
            <sl-button hx-post="/playlist-next" hx-swap="none" size="large">playlist-next</sl-button>
            <sl-button hx-post="/playlist-prev" hx-swap="none" size="large">playlist-prev</sl-button>
            <sl-button hx-post="/playlist-clear" hx-swap="none" size="large">playlist-clear</sl-button>
        </sl-card>
        <sl-card>
            <h1>Video Controls:</h1>
            <sl-button hx-post="/video-yes" hx-swap="none" size="large">show video</sl-button>
            <sl-button hx-post="/video-no" hx-swap="none" size="large">hide video</sl-button>
            <sl-button hx-post="/fullscreen-yes" hx-swap="none" size="large">fullscreen on</sl-button>
            <sl-button hx-post="/fullscreen-no" hx-swap="none" size="large">fullscreen off</sl-button>
        </sl-card>
    </div>
</body>

</html>
